body {
    font-family: 'Quicksand', sans-serif;
    /* background: #8b90c6; */
    /* background: rgba(139, 144, 198, 0.2); */
    /* overflow: hidden; */
}



.navbar-nav.navbar-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    }

.navbar-brand {
    font-weight: bold;
    font-size: 250%;
    letter-spacing: -5px;
}

.bodyarea {
    display: flex;
    background: rgba(139, 144, 198, .2);
}

.container2 {
    background: rgba(139, 144, 198, 0.2); 
    border-radius: 25px;
    box-shadow: 5px 10px rgba(139, 144, 198, 0.4);
}

.excluding {
    justify-content: center;
    text-align: center;
    margin: auto;
}


h1 {
    font-size: 7.4em;
    font-weight: bold;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 2em;
    text-align: center; 
}

p {
    font-size: 1.5em;
    text-align: center; 
}

.aboutUs {
    margin: 3%;
}

button {
    border: 1px solid #485161;
    font-size: 150%;
    text-align: center;
    padding: 22px 45px;
    background-color: #ffffff;
    color: #485161;
    overflow: hidden;
    border-radius: 45px;
    box-shadow: 0 5px;
    margin-bottom: 3%;
  }
  button:hover {
    background-color: #ffffff;
    color: #2fB8BE;
}

.followers {
    width: 100%;
    height: auto;
    padding-left: 5%;
    border-radius: 75%;
    margin-bottom: 5%;
}

.middle {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
    align-items: baseline;
}

.middle1 {
    padding: 0% 2%;
    width: 34%;
    line-height: 30px;
}



.middle1 p {
    text-align: justify;
    margin-top: 10%
}

.aboutUs {
    display: flex;
    flex: grow;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.prop {
    padding: 20px 10px;
    width: 30%;
    line-height: 30px;
}

.profilepic {
    width: 50%;
    height: auto;
    border-radius: 80%;
    margin-left: 25%;
}
.fab {
    margin-left: 49%;
}





footer {
    text-align: center;
    margin-top: 10%;
}





/* .parallax {

  background-image: url("/img/blank-card-cellphone-1851415.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}  */

@media (max-width: 500px) {
    body {
        max-width: 500px;
    }
    .container {
        max-width: 500px;
    }
    .bodyarea {
        display: flex;
        flex-wrap: wrap;
    }
    .chatting {
        width: 100%;
        height: 100%;
    }
    .excluding {
        font-size: 75%;
    }
    .middle {
        flex-direction: column;
    }
    .middle1 {
        display: row
    }
    .prop {
        width: 100%;
    }
    button {
        margin-bottom: 5%;
    }
    footer {
        margin-top: 15%;
    }

  }


@media (max-width: 800px) {
    body {
        max-width: 800px;
    }
    .container {
        max-width: 800px;
    }
    .container2 {
        border-radius: 15px;
    }
    .bodyarea {
        display: flex;
        flex-wrap: wrap;
    }
    .chatting {
        width: 100%;
        height: 100%;
    }
    .excluding {
        font-size: 75%;
    }
    .middle {
        margin-top: 5%;
        flex-direction: column;
    }
    .middle1 {
        width: 100%;
        line-height: 30px;
        align-self: center;
        padding: 0% 15%;
    }
    .followers {
        margin-left: 2%;
    }
}


/*======= Animations Below=====*/

/* trying out bubbles*/
#bubbles { height: 100% }
#bubbles { padding: 100px 0 }
.bubble {
    width: 60px;
    height: 60px;
    background: #2fB8BE;
    border-radius: 200px;
    position: absolute;
}

.x1 {
    left: 75%;
    transform: scale(0.9);
    opacity: 0.2;
    -webkit-animation: moveclouds 21s linear infinite, sideWays 4s ease-in-out infinite alternate;

}

.x2 {
    left: 38%;
    transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: moveclouds 8s linear infinite, sideWays 5s ease-in-out infinite alternate;

}
.x3 {
    left: 11%;
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;

}
.x4 {
    left: 23%;
    transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: moveclouds 10s linear infinite, sideWays 2s ease-in-out infinite alternate;

}
.x5 {
    left: 33%;
    transform: scale(.8);
    opacity: 0.3; 
    -webkit-animation: moveclouds 18s linear infinite, sideWays 1s ease-in-out infinite alternate;

}
.x6 {
    left: 86%;
    transform: scale(0.9);
    opacity: 0.2;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;

}
@-webkit-keyframes moveclouds { 
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}



